.container {
  max-width: 1120px;
  margin: 0 auto;
}
a{
    text-decoration: none;
}

h1{
  font-family: 'FoglihtenNo06', sans-serif;
  color: #000;
  font-size: 70px;
  font-weight: normal;
  margin-bottom: 0;
}

h2{
  font-family: 'FoglihtenNo06', sans-serif;
  color: #000;
  font-size: 40px;
  font-weight: normal;
  margin-top: 50px;
}

@font-face {
  font-family: 'FoglihtenNo06';
  src: url('/fonts/FoglihtenNo06_076.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

.app-header {
  width: 100%;
  background-color: white;
}

.header-content{
    margin: 20px 0;
    display: flex;  
    align-items: center;
    justify-content: space-between; 
}

.header-logo{
  width: auto;
}

.header-logo a{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-logo p{
    padding-top: 5px;
    font-family: 'FoglihtenNo06', sans-serif;
    color: #000;
    font-size: 40px;
    margin: 0;
  }

.header-logo img{
  width: 61px;
  height: 55px;
}

.header-categories{
  padding-left: 40px;
}

.header-categories a{
    font-family: 'Geologica', sans-serif;
    font-size: 16px;
    color: #777E90;
    padding-right: 32px;
}

.header-categories a:hover{
    color: #464b57;
}

.header-icons{
  gap: 1rem;
  display: flex;
}

.home-top{
  width: 100%;
  height: 726px;
  background-color: #E8EEB0;
  background-image: url('../image/home-top.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
}

.home-content{
  margin-right: auto;
  padding-top: 70px;
}

.home-content p{
  font-family: 'Geologica', sans-serif;
  font-size: 20px;
  color: #000;
  padding-bottom: 39px;
}

.home-content a{
  font-family: 'Geologica', sans-serif;
  font-size: 20px;
  color: #FCFCFD;
  padding: 16px 42px;
  background-color: #969974;
  border-radius: 50px;
}

.home-content a:hover{
  background-color: #5D727D;
}

.card{
  width: 352px;
  height: 459px;
  border-radius: 25px;
  border: 2px solid #D9D9D9;
}

.card-content{
  padding-top: 22px;
  padding-left: 25px;
}

.card-title{
  font-family: 'Geologica', sans-serif;
  font-size: 18px;
  color: #878B61;

}

.card-description{
  font-family: 'Geologica', sans-serif;
  font-size: 12px;
  color: #141416;
  padding: 0;
}

.product-card__btn{
  font-family: 'Geologica', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #141416;
  padding: 12px 24px;
  background-color: #E8EEB0;
  border-radius: 50px;
  border: none;
  margin-right: 2%;
}

.product-card__btn-quantity{
  font-family: 'Geologica', sans-serif;
  font-weight: bold;
  color: #141416;
  padding: 12px 18px;
  background-color: #E8EEB0;
  border-radius: 50px;
  border: none;
  display: inline-flex;
  width: auto;
  align-items: center;
  margin-right: 5%;
  
}

.product-card-btn-um, .product-card-btn-uv{
  font-family: 'Geologica', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #141416;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

.product-card-input{
  font-family: 'Geologica', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #141416;
  background: transparent;
  text-align: center;
  outline: none;
  pointer-events: none;
  border: none;
  width: 1.5em; 
  padding: 0; 
  
}

.product-card-price{
  font-family: 'Geologica', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #141416;
  padding: 12px 10px;
  border-radius: 5px;
  border: 1px solid #141416;
  padding-left: 10px;
}

