@import "tailwindcss";
.custom-container {
  max-width: 1120px;
  margin: 0 auto;
  width: 100%;
}
a{
    text-decoration: none;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

.main-content {
    flex: 1; 
}

h1{
  font-family: 'FoglihtenNo06', sans-serif;
  color: #000;
  font-size: 70px;
  font-weight: normal;
  margin-bottom: 0;
}
h3{
  margin: 0;
}

h2{
  font-family: 'FoglihtenNo06', sans-serif;
  color: #000;
  font-size: 40px;
  font-weight: normal;
  margin-top: 50px;
}

@font-face {
  font-family: 'FoglihtenNo06';
  src: url('/fonts/FoglihtenNo06_076.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.app-header {
  width: 100%;
  background-color: white;
  
}

.header-content{
    margin: 20px 0;
    display: flex;  
    align-items: center;
    justify-content: space-between; 
}

.header-logo{
  width: auto;
}

.header-logo a{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-logo p{
    padding-top: 5px;
    font-family: 'FoglihtenNo06', sans-serif;
    color: #000;
    font-size: 40px;
    margin: 0;
  }

.header-logo img{
  width: 61px;
  height: 55px;
}

.header-categories{
  padding-left: 40px;
}

.header-categories a{
    font-family: 'Geologica', sans-serif;
    font-size: 18px;
    color: #777E90;
    padding-right: 32px;
}

.btn{
  font-family: 'Geologica', sans-serif;
  font-size: 18px;
  color: #777E90;
  padding-right: 32px;
}


.header-categories a:hover{
    color: #000;
}

.header-icons{
  gap: 1rem;
  display: flex;
}

.home-top{
  width: 100%;
  height: 726px;
  background-color: #E8EEB0;
  background-image: url('../image/home-top.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
}

.home-content{
  margin-right: auto;
  padding-top: 70px;
}

.home-content p{
  font-family: 'Geologica', sans-serif;
  font-size: 20px;
  color: #000;
  padding-bottom: 39px;
}

.home-content a{
  font-family: 'Geologica', sans-serif;
  font-size: 20px;
  color: #FCFCFD;
  padding: 16px 42px;
  background-color: #969974;
  border-radius: 50px;
}

.home-content a:hover{
  background-color: #5D727D;
}

.card{
  width: 100%;
  height: auto;
  border-radius: 25px;
  border: 2px solid #D9D9D9;
  display: flex;
  flex-direction: column;
}

.card-content{
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-title{
  font-family: 'Geologica', sans-serif;
  /* font-size: 18px; */
  color: #878B61;
  margin: 0;
  font-weight: bold;
}

.card-description{
  font-family: 'Geologica', sans-serif;
  font-size: 12px;
  color: #141416;
  margin-bottom: 10px;
}

.product-card__btn{
  font-family: 'Geologica', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #141416;
  padding: 8px 16px;
  background-color: #E8EEB0;
  border-radius: 50px;
  border: none;
  width: 100%;
  &:hover{
    background-color: #D9DEA7;
    cursor: pointer;
    transition: 0.3s;
  }
}

.product-card-price{
  font-family: 'Geologica', sans-serif;
  /* font-size: 16px; */
  font-weight: normal;
  color: #878B61;
  margin-top: auto;

}

.products-grid{
  display: flex;
  justify-content: space-between;
}

.home-categories {
  width: 100%;
  overflow: hidden; /* важно для предотвращения смещения */
}

.home-categories-card{
  display: flex;
  justify-content: space-between;
}


.home-categories-card1{
  width: 352px;
  height: 499px;
  background-image: url('/images_product/phyto flour.png');
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.home-categories-card1-text{
  font-family: 'Geologica', sans-serif;
  font-size: 18px;
  color: #5D727D;
  padding: 12px 18px;
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-top: auto;  
  width: fit-content;
  margin-bottom: 20px;
  margin-left: 20px;
}

.home-categories-card2{
  width: 352px;
  height: 404px;
  background-image: url('/images_product/category-herb.png');
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.home-categories-card3{
  width: 352px;
  height: 404px;
  background-image: url('/images_product/category-oil.png');
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.home-categories-card2-text{
  font-family: 'Geologica', sans-serif;
  font-size: 18px;
  color: #8F926B;
  padding: 12px 18px;
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-top: auto;  
  width: fit-content;
  margin-bottom: 20px;
  margin-left: 20px;
}

.home-categories-footer{
  width: auto;
}

.home-categories-btn {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 64px; 
  box-sizing: border-box !important;  
  padding: 18px 32px;
  background: #FFFFFF;
  border: 2px solid #8F926B;
  border-radius: 15px;
  font-family: 'Geologica', sans-serif;
  font-size: 16px;
  color: #141416;
  text-decoration: none;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}


.home-categories-container {
  width: 1200px;
  margin: 0 auto

}

.categories-grid-slider {
  position: relative;
  max-width: 1120px;
}

.categories-grid {
  display: grid;
  max-width: 1120px;
  grid-template-areas:   "f i b"
                         "f o o";
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}

.category-card-large { grid-area: f; }
.category-card-small { grid-area: i; }
.category-card-small-second { grid-area: b; }
.home-categories-footer { grid-area: o; }
.E { grid-area: n; }

/* Большая карточка */
.category-card-large {
  width: 352px;
  height: 499px;
}
/* Маленькие карточки */
.category-card-small, .category-card-small-second  {
  width: 352px;
  height: 404px;
}

/* Общие стили карточек */
.category-card {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #f8f9fa; /* фон на время загрузки */
}

.category-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Анимация смены контента */
.fade-in {
  animation: fadeIn 0.7s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0.9;
    transform: scale(1.02);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.category-text {
  font-family: 'Geologica', sans-serif;
  font-size: 18px;
  padding: 12px 18px;
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-top: auto;
  width: fit-content;
  margin-bottom: 20px;
  margin-left: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

/* Навигация */
.slider-nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #8F926B;
  background: white;
  z-index: 10;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.slider-nav-btn:hover:not(:disabled) {
  background: #8F926B;
  color: white;
}

.slider-nav-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.slider-prev {
  left: -70px;
}

.slider-next {
  right: -70px;
}

.home-order-steps{
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.order-step{
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 165px;
  padding: 38px 26px  38px 26px ;
  justify-content: space-between;
}

.order-step-one{
  border: 2px solid #878B61;
  border-radius: 25px;
}

.order-step-two{
  border: 2px solid #5D727D;
  border-radius: 25px;
}

.order-step-three{
  background-color: #5D727D;
  border-radius: 25px;
}

.order-step-name{
  font-family: 'Geologica', sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 16px;

}

.order-step-name-one{
  color:#878B61;
}

.order-step-name-two{
  color: #5D727D;
}

.order-step-name-three{
  color: #fff;
}
.order-step-text-one{
  color: #767A7C;
}
.order-step-text-three{
  color: #fff;
}


.order-step-text{
  font-family: 'Geologica', sans-serif;
  font-size: 20px;
  font-weight: 200;
}



.home-map-info{
  background-color: #969974;
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 44px 44px;
}

.home-map-info-texts{

}

.home-map-info-text{
  font-family: 'Geologica', sans-serif;
  font-size: 25px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  display: block;
}

.home-map-info-card{
  display: flex;
  justify-content: space-between;
  gap: 70px;
  margin-top: 25px;
  
}

.home-map-info-card-one{
  background-color: #fff;
  width: 270px;
  height: 140px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.home-map-info-card-text-one, .home-map-info-card-text-two{
  font-family: 'Geologica', sans-serif;
  font-size: 18px;
  color: #141416;
  padding: 20px;
}
.home-map-info-card-text-one{
  color: #878B61;
}

.home-map-info-card-text-two{
  color: #5D7178;
}

.home-map-info-card-text{
  font-family: 'Geologica', sans-serif;
  font-size: 16px;
  color: #767A7C;
  font-weight: 200;
  padding: 0 20px 20px 20px;
}

#yandex-map {
  width: 1120px !important;
  height: 500px !important; /* или сколько тебе нужно: 400px, 600px и т.д. */
  border: none;
  border-radius: 12px; /* если хочешь скруглённые углы */
  overflow: hidden;
}

.home-map-container {
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
}



.footer{
  height: 413px;
  background-color: #5D727D;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.footer-content-one span{
  font-family: 'FoglihtenNo06', sans-serif;
  color: #141416;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 0;
}

.footer-content span, 
.footer-content a {
  text-decoration: none;
  color: #353945; 
  font-family: 'Geologica', sans-serif;
  font-size: 18px;
  padding-bottom: 18px;
}

.footer-content a:hover {
  color: #000;
}


.footer-cont{
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  width: 100%;
}


.footer-content-one, .footer-content{
  display: flex;
  flex-direction: column;
}

.header-content {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

/* Затемнение фона */
.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Центрирование */
.modal-container {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 1000;
}

/* Само окно */
.modal-panel {
    background: white;
    border-radius: 20px;
    height: auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  display: flex;
  overflow: hidden;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  z-index: 1001;
}

.auth-container{
  display: flex;
  max-width: 651px;
  height: 100%;
}

.auth-hello, .auth-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}

.auth-hello{
  background-color: #E8EEB0;
}

.auth-hello-title{
  font-family: 'FoglihtenNo06', sans-serif;
  color: #141416;
  font-size: 30px;
  font-weight: normal;
}

.auth-hello-text{
  font-family: 'Geologica', sans-serif;
  color: #141416;
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  padding: 40px;

}

.policy-group a, label{
  font-size: 12px;
}

.auth-form label {
  font-family: 'Geologica', sans-serif;
  color: #141416;
  font-size: 12px;
  font-weight: normal;
}

.auth-form input{
  font-family: 'Geologica', sans-serif;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid #878B61;
}



.auth-form input::placeholder{
  border-radius: 25px;
}

.auth-form-label{
  font-family: 'Geologica', sans-serif;
  color: #878B61;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  text-align: center;
}


.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.form-group a{
  font-family: 'Geologica', sans-serif;
  color: #777E90;
  font-size: 11px;
  font-weight: normal;
}

.login-btn {
    background-color: #E8EEB0;
    color: #000;
    border: none;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Geologica', sans-serif;
    color: #141416;
    font-size: 14px;
    font-weight: normal;
}

.login-btn:hover {
  background-color: #9ca077;
  color: #000;
  transition: all 0.3s ease;
}

.modal-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.modal-footer span, a{
  font-family: 'Geologica', sans-serif;
  color: #141416;
  font-size: 12px;
  font-weight: normal;
  color: #777E90;
}

.modal-footer a{
  color: #878B61;
}

.modal-footer a:hover{
  color: #000;
  transition: all 0.3s ease;
}

.pass-info{
  font-family: 'Geologica', sans-serif;
  color: #777E90;
  font-size: 12px;
  font-weight: normal;
}

.close-modal-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 30px;
    line-height: 1;
    color: #888;
    cursor: pointer;
    transition: color 0.2s;
    z-index: 10;
}

.close-modal-btn:hover {
    color: #333;
}


.catalog-title{
  font-family: 'FoglihtenNo06', sans-serif;
  color: #000;
  font-size: 40px;
  font-weight: normal;
  margin-top: 50px;
  
}

.catalog-menu{
  width: 100%;
  height: auto;
  background-color: #E8EEB0;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  justify-content: space-between;
  padding: 5px 20px;
}

.catalog-menu-left{
  display: flex;
  align-items: center;
  gap: 15px;
}

.catalog-menu-btn{
  font-family: 'Geologica', sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  background-color: #E8EEB0;
  border-style: hidden;
  border-radius: 25px;
  padding: 8px 16px; 
  cursor: pointer;
}

.catalog-menu-btn-category{
  font-family: 'Geologica', sans-serif;
  color: #000000;
  font-size: 14x;
  font-weight: normal;
  background-color: #E8EEB0;
  padding: 12px 24px;
  border-radius: 0 0 25px 25px;
}

.catalog-menu-price{
  display: flex;
  align-items: center; 
  gap: 8px;
}


.catalog-menu-price input{
  font-family: 'Geologica', sans-serif;
  background-color: #fff;
  font-size: 16px;
  font-weight: normal;
  border-radius: 8px;
  width: 70px;
  height: 35px;
  text-align: left;
  padding: 7px;
}
.search-wrapper {
  max-width: 400px;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px; 
  padding: 4px 8px;
  border: 2px solid transparent; 
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  max-height: 35px;
}


.search-container:focus-within {
  border-color: #878B61; 
  box-shadow: 0 4px 12px rgba(135, 139, 97, 0.15);
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 10px 12px;
  font-family: 'Geologica', sans-serif;
  font-size: 16px;
  color: #333;
  background: transparent;
}

.search-input::placeholder {
  color: #a0a0a0;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  color: #878B61;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.search-button:hover {
  transform: scale(1.1);
  color: #6e714f;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
  display: none;
}

.product-main{
  display: flex;
  
}

.product-main-cont-image{
  flex: 1;
  width: 100%; 
  aspect-ratio: 1 / 1;
  border-radius: 20px; 
  overflow: hidden;
}

.product-main-info{
  display: flex;
  flex: 1;
  flex-direction: column;

  & h1{
    font-size: 50px;
    color: #878B61;
  }

  & span{
    font-size: 34px;
    color: #878B61;
    font-family: 'Geologica', sans-serif;
    font-weight: 200;
  }

  & p{
    font-size: 16px;
    color: #626264;
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
  }
}


.product-main-image{
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.product-footer {
  margin-top: auto; /* Выталкивает блок вниз */
  display: flex;
  align-items: center;
  gap: 20px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  background-color: #f2f4f5;
  border-radius: 12px;
  padding: 4px;
}

.quantity-controls button {
  width: 36px;
  height: 36px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qty-input {
  width: 30px;
  border: none;
  background: transparent;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

.add-to-cart-btn {
  flex-grow: 1;
  background-color: #e8eeb0; /* Твой фирменный оливковый */
  border: none;
  border-radius: 30px;
  padding: 14px 0;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover{
    background-color: #D9DEA7;
    cursor: pointer;
    transition: 0.3s;
  }
}



